<!Doctype html>
<html lang="en">
	<head>
		<title>Tower of Dimensions</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<meta name=viewport content="width=device-width, initial-scale=1.0, minimum-scale=1.0 maximum-scale=1.0">
		<link href='http://necolas.github.com/normalize.css/2.0.1/normalize.css' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Adamina' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Podkova' rel='stylesheet' type='text/css'>
		<link href='{{ STATIC_URL }}/towerofdimensions/css/style.css' rel='stylesheet' type='text/css'>
		<script>

			$(document).on("ready", ready);

			function ready(){
				margin = parseInt($("#header-background").css("margin-top").split("px")[0]);
				padding = parseInt($("#header-background").css("padding-top").split("px")[0]);
				marginFooter = parseInt($("footer").css("margin-top").split("px")[0]);
				marginAside = parseInt($("#content").css("margin-top").split("px")[0]);
				$("#content").height($(document).height() - $("#header-background").height() - (2 * margin) - (2 * padding) - $("footer").height() - (2 * marginFooter) - (marginAside));

				$("nav ul li a").hover(function(){
						$(this).addClass("hover");
					}, 
					function(){
						$(this).removeClass("hover")
					});
				$("nav ul li a").on("click", clickMenu);
			}

			function clickMenu(){
				$("nav ul li a").removeClass("active");
				$(this).addClass("active");
			}

		</script>
	</head>
	<body>
		<header id="header-background">
			<figure id="title">
				<img src="{{ STATIC_URL }}/towerofdimensions/img/title.gif"/>
			</figure>
			<figure id="avatar">
				<img src="{{player.avatar}}" />
			</figure>
			<span>{{player.name}}</span>
			<span id="coin"></span>
			<span>: {{player.coins}}</span>
			<span id="logout"><a href="{{SITE_URL}}/logout/">Log Out</a></span>
		</header>
		<div id="content">
			<nav>
				<ul>
					<li><a class="active"><span class="icon-menu icon-menu-blumiere"> </span> <span class="description"> Dashboard</span></a></li>
					<li><a> <figure class="icon-menu-player"><img src="{{player.avatar}}" /></figure><span class="description">Mercenaries</span></a></li>
					<li><a><span class="icon-menu icon-menu-cameen"> </span><span class="description"> Dimensions</span></a></li>
					<li><a><span class="icon-menu icon-menu-adele"> </span><span class="description"> Inn</span></a></li>
					<li><a><span class="icon-menu icon-menu-marion"> </span><span class="description"> Store</span></a></li>
					<li><a><span class="icon-menu icon-menu-marcus"> </span><span class="description"> School</span></a></li>
					<li><a><span class="icon-menu icon-menu-arturo"> </span><span class="description"> Blacksmith</span></a></li>
				</ul>
			</nav>
		</div>
		<footer id="footer" class="clear">
			<a href="http://steampowered.com">Powered by Steam</a>
		</footer>
	</body>
</html>