<div class="mercenary-full-view">
	<figure class="character-stand-by">
		<img src="{{ STATIC_URL }}/towerofdimensions/img/fullbody/standing/{{mercenary.idBase}}.png"/>
	</figure>
	<div class="complete-info">
		<h2>{{mercenary.nombre}}</h2>
		<p>Level: {{mercenary.nivel}} / Exp: {{mercenary.exp}}</p>
		<p>HP: {{mercenary.hpActual}}/{{mercenary.hpMax}}</p>
		<table class="characteristics">
			<tr>
				<td>AGI:</td>
				<td>{{mercenary.agilidad}}</td>
			</tr>
			<tr>
				<td>DEX:</td>
				<td>{{mercenary.destreza}}</td>
			</tr>
			<tr>
				<td>CON:</td>
				<td>{{mercenary.constitucion}}</td>
			</tr>
			<tr>
				<td>STR:</td> 
				<td>{{mercenary.fuerza}}</td>
			</tr>
			<tr>
				<td>INT:</td>
				<td>{{mercenary.inteligencia}}</td>
			</tr>
			<tr>
				<td>POW:</td>
				<td>{{mercenary.poder}}</td>
			</tr>
			<tr>
				<td>CHA:</td>
				<td> {{mercenary.carisma}}</td>
			</tr>
			<tr>
				<td>WIS:</td>
				<td>{{mercenary.sabiduria}}</td>
			</tr>
		</table>
		<table class="characteristics">
			<tr>
				<td>Marcial:</td>
				<td>{{mercenary.marcial}}</td>
			</tr>
			<tr>
				<td>Stealth:</td>
				<td>{{mercenary.stealth}}</td>
			</tr>
			<tr>
				<td>Magic:</td>
				<td>{{mercenary.magia}}</td>
			</tr>
			<tr>
				<td>Technology:</td>
				<td>{{mercenary.tecnologia}}</td>
			</tr>
		</table>

	</div>
</div>